{% extends "base.html" %}
{% block content %}
<h2>Registro de Producto</h2>
<form method="POST">
    <label>Producto:</label>
    <input type="text" name="producto" required><br>
    <label>Categoría:</label>
    <input type="text" name="categoria" required><br>
    <label>Existencia:</label>
    <input type="number" name="existencia" required><br>
    <label>Precio:</label>
    <input type="number" name="precio" step="0.01" required><br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}
